{% extends "layout.html" %}

{% block body %}
<br>
<h3 class="tnr">Hakkımızda</h3>
<hr style="border: 3px groove black; margin-left: 10px;">
<br>
<div id="info">
    <h4>Deneyim Yazarı</h4>
    <hr>
    <p>
        
    </p>
</div>

{% endblock body %}

{% block head %}
<style>
.tnr{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    margin-left: 20px;
}
h4{
    margin-left: 20px;
}
#info{
    width: 100%;
    height: auto;
    padding-right: 20px;
    word-wrap: break-word;
}
p{
    margin-left: 20px;
}
</style>
{% endblock head %}